<!-- <mat-card class="caution-card" [ngStyle]="{'background-color': getColour(), 'display': getHidden()}"> -->
<mat-card class="caution-card">
    <mat-card-subtitle>
        <div class='caution-content'>
            You must decrypt your unlocakble content on a computer, 
            as I cannot guarantee the content you unlock is usable on a mobile device 
            (it could be an image, a text file, an application, etc).
        </div>
        <div class='caution-content bold'>
            If you visit this page on a computer, my public key will be displayed.
        </div>
    </mat-card-subtitle>
</mat-card>