<div class="links">
    <a (click)="openURL('Twitter', 'https://twitter.com/wmaw9')" class="image">
        <img src="assets/twitter-blue.svg" alt="Twitter">
    </a>
    <a (click)="openURL('Rarbile', 'https://rarible.com/wmaw')" class="image">
        <img src="assets/rarible.svg" alt="Rarible">
    </a>
    <a (click)="openURL('OpenSea', 'https://opensea.io/accounts/wmaw')" class="image">
        <img src="assets/opensea-logomark-flat-colored-blue.svg" alt="OpenSea">
    </a>
</div>

<div class="version">
    <p>{{ version }}</p>
</div>