<div class="content">

    <div class="downloads">
        <a mat-flat-button 
            class="a-button"
            color="primary" 
            href="{{ FILE_PATH }}"
            attr.download="{{ FILE_NAME }}"
            title="download {{ FILE_NAME }}">
                Download
                <mat-icon inline>file_download</mat-icon>
        </a>
    
        <a mat-stroked-button 
            class="a-button"
            color="accent"
            target="_blank" 
            href="{{ PERMA_SOURCE }}"
            title="view key on an independent 3rd party">
                Keyserver
        </a>
    </div>

    <button mat-stroked-button 
            color="warn" 
            class="help-button" 
            (click)="openHelpDialog()">
                How do I use this?
    </button>
    
</div>

<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Click to view key
            </mat-panel-title>
        </mat-expansion-panel-header>
<pre>
-----BEGIN PGP PUBLIC KEY BLOCK-----
mQINBGCRhrIBEAC9ueDp4qnP36mM8svTJ90fMQL5kPNNwdyimOT1s/OYNquYIPSp
NeQg9fBMIlo4t7v1ADQuQai7vYLh2ABgDuGeFPds3hhC2dD3NlcESMP6IfTR+dyH
R2i/UMYN5BKo3q2r3e9dqNdiwTCkM7JNBismOvBOq1YqMCG3LZvOVAI220n1Sh5l
ElJNcmws/hCY9+V3GzwWgO1Mx7udC1weG3Rd98KELum91pir5PQKgyhBhpEgJjNq
9qFJR20Z1WJhvHZbSXBLWy4ADpWQIZEtkM4CN7SZ47PMrL1ScxXv/4AIMw0RcKlM
Jwok5g7asAj4MvKX8UJIJY/kfYek1CQKF58n+vwp4FYxNmO6umr/rl6XDQ2hg0K6
2Hhe0Od+2ZPtAoG1Z8pbYCmrc6pvrT/QPCPGppuRD/fe2vzhvRZjggFKvFs2oHjw
9G6oBzhZSxxlpR+0aINTvh9NA96GsfmBGiMvxXjSCWKBgY8d5obgyh0sKI7M+Nid
2hM9wnkoxU69kcZfrMB1jBdwOdqk8vzlyFBbUY3rl9IqXfqtwGbRp/tVhpkGH18T
FDC4zJN3DAUt/QcaBoJw4p4uVq6VYF+KzleMZ/S/6FQz9bxTAFtBKjuIFZv0y9Wk
39RFX/hS4CX+oDelJFFnWejbE7AS37mr7idFC/GZSy+bNKfFzTrplfe3TQARAQAB
tB5Ad21hdzkgKG5mdF9rZXkpIDxuZnRAd21hdy5tZT6JAk4EEwEIADgWIQQIUsAq
CEa7MCDhiwzvOrPi9FgeFQUCYJGGsgIbAwULCQgHAgYVCgkICwIEFgIDAQIeAQIX
gAAKCRDvOrPi9FgeFQiwD/4hjpfBIHyBgqEZesSsnBPQ2r5UdGHrBXiD/QAXf880
dPSH6RtwgMAxi/FBAeeCqA49HoaI+5VEiBBaJCRdWji8hlXqe8Y3W9CjIFSdkvyA
+EoEgqYUgJHjs+RjN9VJ/uvKz5AXzrEXGnpNq39xdZbClCzh0c6Uwq6ceMCniz9C
5sSSfk5xjEJOv9hbyLFiTslogZvfgynWnZ46XLf8qqMZyyVcIPcGIABYoAI4EyYI
APtSxGbw/fFQkq/PPwyOzixg77iw+we8AhgIlPhHx0yjCJWzjjU/n5Qua06FMj20
WGZsCLHK/StmQts1EENA/n1negYKVSaUULE5AQweiq74Rc/5qrUlejXOOt/PcEgg
Mvu1/X1gAJkRn5AHgM1qSiutjbXXED17qcUcXZE1pZ8z1stBBDTkn2rcDNNIe4No
HU9+KjbCdIeR9I6i72A2TA/bmL+SB/gV/SB3y1sDROs6+NRXKy/ifh8jgb7SFFMA
J6DJSCzwrTTmQR8NojlEA+BMdFVkvlv03jpres4INAtzP0UiXBbVVcvV8dwgKFso
Ox8CGmpelJaJsviP+vxYnGqe6jVETN1VGAzGRdOJk7gFYuBUI1rcK9myidLtY27y
QKCNn//NLTnvNObZ38JIhc+ob0FZv7iHSoSkwkr958jqrQqFu6QRCHeJSqT+8UK0
4rkCDQRgkYayARAA5yEbUStmBfO6nvfQb1BzK46qErFtFK4athTqjoQdRoj3JyqU
M9+vPRvKtR7RZz5bi19TspGNH7kR+lomurf/VHGMGD4GcBfrx4k8HSLG4G6NOEhi
uopAYlnGQZU2Ge2Vabw44WJOp/itM2QxKSZmmgQ+DKPIz3fjJmOy3WUHr4nFXnUr
oVsIizUiaVXrQYFFEbO9vItWCvhfl2HMYOWkEXWWAbkaI73MilO7qOoT3dMAUzLK
dKBTzXnkCeTirPnfjPPhWVQinPopFWrQDRI4vAwhk/gg2lbfHB7bejttTBXYiYLE
ABrj64s2Kaoe7sma9K9zRm7IuaGRBQgr0E7SlT7MR3PCu0eTd2m2gq5r9KM++nLU
aOMCHqQ7N+9+627ZFH3vjMBrvUacnFy3+eMfVmEhwCPYLSqUMP6YpREMr7xPW+cs
Lfz0QX45z2ETy3Ro+4Xiqsc1Ic9tPXI18wuFAOB+MI2BZt6799F6ATFcnSqaU+ws
5jwE4se+XA34zCbBXKwMvlNsOPZArjxNmT79chHCrkpOvYTsAIkqm6R1ePYYuXK2
WOoId/QIYYWhyTagtVq26bHl9IY4x/+HEdHljVRB2Ao5ZUU492drjkRGWRAvmRIc
D2vzei1Iq43PrNvzi0QFu2Pb7OX1hd18fBrSF71k+UnH9e0u4QWIEA/1n3EAEQEA
AYkCNgQYAQgAIBYhBAhSwCoIRrswIOGLDO86s+L0WB4VBQJgkYayAhsMAAoJEO86
s+L0WB4VjcMP/16HM4kisZ2Gynr9ZbAet8STaVA0nwnk9PIXZjoDJsXur8mtVFVB
Kz5Xm0Z9M0mqyv2/DqpDa2oQOfCvlGmB1VAC0R7+UMANUTc6RAQGwIsGy+wamjZp
Kt8gIu+dW0PmMcm1TO1FzAEw2xQfSJ+lWhiB3LOzZDn0/bbN/bB9/cfsm/Txb00l
TAzeN9m6Hlv78dfWQRMNFK2/FP6yIkbQ7hOQHxi5Dn7k/A3rNb8V+nCSzCPinwNi
6ZY6sy/87xBsJsoqxi6+c3z0pqNXqwE5Y3Tnedm+Ozeln0DVxmgJPPb50S91NO8I
/0wUqrT//DrUMzOHnTSqUoCX5NXkkt9iF3zwuBFVnej4hmelfJ/vqt73AaCeXu3a
FPzptKuXXcxAcvQGsdmddS/5y6l+5rko+cCvgSEIF3AiddoPvlSg2dk05LMQvMX8
Vn8GOAvho/aGJgsJZW2p9oeAOdovnauMlSqAbHATN8lKdxQdbLRICbSg2JceO5CQ
w0w1FcJZF+s4EzpeJIGx54+GVkEd7cbNXpNfTMBZUO2+I5rjoGWwQl9VuP8m7dad
ZbMOVY0++mdWGTJ9VsgFEDJwO57d7TnL+Q+UmdnIkY1BJ02xlXdVV4qXYuQDEgRN
xJUiFJzPpeeWhDBOogK09JSjksCLFpT5uXxHjzCFKLTcEsbEj84xQURc 
=gttu
-----END PGP PUBLIC KEY BLOCK-----
</pre>
    </mat-expansion-panel>
</mat-accordion>