mat-expansion-panel {
    background-color: #303030;
    white-space: pre;
}

.content {
    display: flex;
    margin: 1% 0;

    .a-button {
        margin-right: 1%;
    }

    .downloads {
        flex-grow: 1;
    }
}

@media screen and (max-width: 500px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
    }
}